.inactiveBackground {
  position: absolute;
  z-index: 10;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 500ms;
  animation: ease-in-out;
}

.inputModal {
  position: absolute;
  z-index: 20;
  border-radius: 8px;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  top: 1rem;
  width: 50vw;
  height: 40vh;
  background-color: #181818;
  border: 1.5px solid #464646;
  box-shadow: 0 3px 6px 0 #000000b0;
}

@media (max-width: 768px) {
  .inputModal {
    width: 90vw;
  }
}

.block {
  display: block;
}

.runButton {
  display: flex;
  padding: 0.4rem;
  align-items: center;
}

.runButton {
  align-items: center;
  appearance: none;
  margin: 1rem;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.runButton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.runButton:disabled {
  opacity: 0.5;
  user-select: none;
}
.runButton:disabled:hover {
  transform: none;
}
.runButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.runButton:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.ProgressRoot {
  position: relative;
  overflow: hidden;
  background: gray;
  width: 100%;
  height: 4px;

  /* Fix overflow clipping in Safari */
  transform: translateZ(0);
}

.ProgressIndicator {
  background-color: white;
  width: 100%;
  height: 100%;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
}

.SliderTrack {
  background-color: gray;
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}

.SliderRange {
  position: absolute;
  background-color: white;
  border-radius: 9999px;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 17px;
  height: 17px;
  background-color: white;
  box-shadow: 0 2px 10px var(--black-a7);
  border-radius: 10px;
}
.SliderThumb:hover {
  background-color: var(--violet-3);
}
